* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #fff;
    --text-hover: #fff;
    --border-color: rgba(255, 255, 255, 0.50);
    --stroke-color: rgba(255, 255, 255, 0.50);
    --surface-color: rgba(255, 255, 255, 0.10);
    --hover-button: rgba(255, 255, 255, 0.208);
    --bg-url: url("./assets/Background.png");
    --switch-url: url("./assets/moon-stars.svg");
}

.light {
    --text-color: #000;
    --text-hover: #fff;
    --border-color: rgba(0, 0, 0, 0.50);
    --hover-button: rgba(0, 0, 0, 0.852);
    --stroke-color: rgba(64, 64, 64, 0.5);
    --surface-color: rgba(255, 255, 255, 0.10);
    --bg-url: url("./assets/bg-light.png");
    --switch-url: url("./assets/moon-stars.svg");
}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

footer {
    margin-top: 48px;
    color: var(--text-color);
    text-align: center;
}

footer h3 {
    font-size: 14px;
    font-weight: lighter;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 30px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    width: 112px;
    border-radius: 50%;
    border: 1px solid #000;
}

.profile h3 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 8px;
}

.container-butons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    padding: 0 30px;
    gap: 16px;
    margin-top: 23px;
}

.container-butons button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    align-self: stretch;
    color: var(--text-color);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4px);
    transition: 0.8s;
}

.container-butons button:hover {
    background: var(--hover-button);
    color: var(--text-hover);
}

.icon {
    color: var(--text-color);
    width: 25px;
    height: 25px;
}

.container-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 16px;
}

#switch {
    margin-top: 32px;
    position: relative;
}

#switch button {
    width: 32px;
    height: 32px;
    background: #fff var(--switch-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

.track {
    display: block;
    width: 64px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 9999px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    backdrop-filter: blur(4px);
}

@media (max-width: 700px) {
    :root {
        --bg-url: url("./assets/b-web.png")
    }

    .light {
        --bg-url: url("./assets/bg-web-2.png")
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}